<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Prova Kendo Grid</title>

        <link href="http://kendo.cdn.telerik.com/2014.2.716/styles/kendo.common.min.css" rel="stylesheet" />
        <link href="http://kendo.cdn.telerik.com/2014.2.716/styles/kendo.default.min.css" rel="stylesheet" />
        <link href="/static/tablestyle.css" rel="stylesheet" />
        
        <script src="http://kendo.cdn.telerik.com/2014.2.716/js/jquery.min.js"></script>
        <script src="http://kendo.cdn.telerik.com/2014.2.716/js/kendo.ui.core.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="kendotable">
            <div class="k-content">

                <table id="movies_table" class="metrotable">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Rating</th>
                            <th>Title</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4"></td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <script id="template" type="text/x-kendo-template">
                <tr>
                    <td>#= rank #</td>
                    <td>#= rating #</td>
                    <td>#= title #</td>
                    <td>#= year #</td>
                </tr>
            </script>

        </div>
        <script src="/static/mytable.js"></script>

        
    </body>

</html>